$colors: (
  clr-btn-1: hsla(246, 100%, 48%, 0.9),
  clr-btn-2: hsla(355, 100%, 48%, 0.9),
  clr-shadow-1: hsla(360, 92%, 44%, 0.6),
  clr-shadow-2: hsla(247, 77%, 44%, 0.6),
  clr-shadow-3: hsla(0, 0%, 0%, 0.467),
  clr-primary: hsla(360, 71%, 96%, 0.92),
  clr-secondary: hsla(0, 0%, 15%, 0.5),
);
